.header-foot {
  height: 10em;
  margin: 0px;

  .centered-items {
    text-align: center;

    .exyte-copyright {
      font-size: 16px;
    }
  }
}

.contrast-affiliate-links {
  background-color: #000000;
  color: #ffffff;
  flex: max-content;
  padding: 20px;
}
